body {
    min-height: 90vh;
}

.flash-card {
    width: 100%;
    box-shadow: 0 0 1px 1px #ccc;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15em;
    transition: all ease 0.5s;
    transform-style: preserve-3d;
}

.flash-card p {
    width: 100%;
    min-height: 100%;
    font-weight: 500;
    color: dodgerblue;
    overflow: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    transition: all ease 0.3s;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.flash-card .back {
    transform: rotateX(180deg);
}

.flip {
    transform: rotateX(180deg);
}

.slider {
    width: 100%;
    height: 100%;
}

.slider .slide-content {
    width: 100%;
    min-height: 15em;
    position: relative;
}

.slider .slide-content .slide-item {
    display: none;
    transition: 0.3s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider .slide-content .slide-item.current {
    display: block !important;
}

.slider .slide-content .slide-item.previous {
    display: flex;
    opacity: 0;
    transform: translateX(-16%) rotateY(16deg) translateZ(0);
    pointer-events: none;
}

.slider .slide-content .slide-item.next {
    display: flex;
    opacity: 0;
    transform: translateX(16%) rotateY(16deg) translateZ(0);
    pointer-events: none;
}

.slider .slide-controls {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slide-controls .item-control {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    width: 2em;
    height: 2em;
    margin: 5px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.slider .slide-controls .item-control i {
    color: cyan;
}

.slider .slide-controls .item-control.disable {
    pointer-events: none;
}

.slider .slide-controls .item-control.disable i {
    color: black;
}

.slider .slide-controls .item-control:focus {
    outline: none;
}

.slider .slide-controls .item-control:hover {
    background-color: yellow;
}

.slider .slide-controls .item-control:hover i {
    color: gray;
}
